@use "../abstract/variables";
.form {
  &__label {
    display: inline-block;
    font-size: variables.$default-font-size-xsmall;
    font-weight: 600;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
    box-sizing: border-box;
    display: block;
    height: 3rem;
    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }
}
