@use "../abstract/variables";
@use "../base/animations";
.header {
  min-height: variables.$header-height;
  display: flex;
  background-color: variables.$color-primary;
  padding: 0 24px 0 24px;
  gap: 8px;
  color: variables.$color-font-primary;

  &__logo {
    display: flex;
    align-items: center;
    width: 256px;
    overflow: hidden;
    transition: all variables.$transition-time ease;

    &.collapsed {
      width: 38px;
      transition: all variables.$transition-time ease;
    }
  }
  &__bars,
  &__search,
  &__shortcuts,
  &__language,
  &__darkmode,
  &__cart,
  &__notifications,
  &__messages,
  &__profile {
    border: none;
    background: none;
    color: inherit;
    padding: 8px;
    cursor: pointer;
  }
  &__fill--space {
    flex-grow: 1;
  }
  &__profile {
    &--img {
      width: 32px;
      height: 32px;
      border-radius: variables.$border-radius-default;
    }
  }
  &__messages {
    &__container {
      position: relative;
      &--heartbit {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 20px;
        width: 20px;
        z-index: 10;
        border-radius: variables.$border-radius-default;
        border: 2px solid rgb(248, 40, 90);
        animation: 1s ease-out infinite heartbit;
      }
      &--alert--blink {
        transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgb(248, 40, 90);
        color: variables.$color-font-primary;
        transform: scale(1) translate(50%, -50%);
        transform-origin: 100% 0% 0px;
        height: 8px;
        min-width: 8px;
        display: inline-flex;
        flex-flow: wrap;
        right: 0px;
        position: absolute;
        border-radius: 4px;
      }
    }
  }
}
