@use "../abstract/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  width: variables.$sidebar-width-normal;
  font-size: 1.4rem;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.08) 1px 0px 20px;
  transition: all variables.$transition-time ease;
  &__toggle {
    cursor: pointer;
    margin-left: 8px;
    position: absolute;
    right: 12px;
    top: 15px;
    background: transparent;
    border: none;
  }
  &.collapsed {
    transition: all variables.$transition-time ease;
    width: variables.$sidebar-width-small;
    &:hover {
      width: variables.$sidebar-width-normal;
    }
    & a {
      display: none;
    }
    & .sidebar__has--child span {
      display: none;
    }
    & ul {
      & li {
        padding: 8px 0 8px 0px;
        text-align: center;
        & i {
          margin-left: 8px;
        }
        & button i {
          display: none;
        }
      }
    }
    & .sidebar__user__container {
      text-align: center;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 109px;
    }

    & .sidebar__user--name {
      display: none;
    }
  }
  & > ul {
    padding: 8px 10px 8px 12px;
  }
  &__user {
    background-image: url("/assets/images/sidebar-profile-bg-CsZllJ9M.jpg");
    border-radius: 0px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &__container {
      padding: 28px 30px;
    }
    &--name {
      padding: 4px 16px;
    }
    &--img {
      width: 50px;
      & img {
        border-radius: variables.$border-radius-default;
        width: 100%;
        height: 100%;
      }
    }
  }

  & ul {
    line-height: 26px;
    overflow-y: auto;
    height: inherit;
    width: 100%;
    list-style: none;
    & li {
      line-height: 3rem;
      padding: 8px 0 8px 12px;
      color: rgb(58, 71, 82);
      cursor: pointer;
      margin-bottom: 2px;
      & i {
        margin-right: 8px;
      }
      &:hover:not(.sidebar__active) {
        background-color: variables.$color-cyan-light;
        color: variables.$color-cyan;
        border-radius: 30px;
      }
    }
  }
  &__active {
    color: variables.$color-font-primary !important;
    background-color: variables.$color-cyan;
    border-radius: 30px;
  }
  &__has--child {
    overflow-x: scroll;
    position: relative;
    & i:nth-of-type(2) {
      background-color: red;
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }
}
