@keyframes heartbit {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.1;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
