@use "../abstract/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  color: variables.$color-font-primary;
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}
h1 {
  font-size: 2.5rem; /* 40px */
  font-weight: 700;
}
h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
h5 {
  font-size: 1rem;
  font-weight: 600;
}
#root {
  height: 100%;
}

main {
  display: flex;
  max-height: 100%;
  height: calc(100% - variables.$header-height);
}
button {
  background: none;
  border: none;
}
.contain {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(238, 245, 249);
  padding: variables.$padding-default;
  width: 100%;
  overflow: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none !important;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
