@use "../abstract/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  color: variables.$color-font-primary;
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

main {
  display: flex;
  max-height: 100%;
  height: calc(100% - variables.$header-height);
}

.contain {
  display: flex;
  flex-direction: column;
  color: red;
  flex: 1;
  background-color: rgb(238, 245, 249);
}
